<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dizarale.deliverone" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.dizarale.deliverone.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.dizarale.diliverone.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MenuActivity"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name=".activity.FoodDetailActivity"
            android:label="@string/title_activity_food_detail"
            android:parentActivityName=".activity.MenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MenuActivity" />
        </activity>
        <activity
            android:name=".activity.ShoppingCartActivity"
            android:label="@string/title_activity_shopping_cart" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MenuActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCAceWJ0y6BtARv1sfkwfRGk4Z0sLupyoU" />

        <activity
            android:name=".activity.MapsActivity"
            android:label="@string/title_activity_maps" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MenuActivity" />
        </activity>
        <activity
            android:name=".activity.SummaryActivity"
            android:label="@string/title_activity_summary" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MenuActivity" />
        </activity>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.dizarale.deliverone" />
            </intent-filter>
        </receiver>

        <service
            android:name=".gcm.MyGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".gcm.MyInstanceIDListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name=".gcm.RegistrationIntentService"
            android:exported="false" >
        </service>

        <activity android:name=".activity.HistoryOrderAcitvity"
            android:label="@string/title_activity_history_order">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MenuActivity" />
        </activity>
    </application>

</manifest>
